*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    max-width: 1440px;
    background-color: #F0F4F5;
    margin-right: auto; /* Auto */
    overflow: hidden;
}

nav{
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
}

nav ul{
    display: flex;
    align-items: center;
    gap:40px;
}
nav ul li{
    display: flex;
    list-style: none;
    margin-right: 20px;
    font-weight: 600;
    font-size: 18px;
}
nav ul li:first-child{
    color: #78D599;
}

/* Hero Section */
main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85vh;
}

main section {
    width: 50%;
}

.leftsection{
    margin-left: 10%;
    position: relative;
    margin-bottom: 20%;
    gap:45px;

}

.topangle{
    width: 35px;
}

.leftsection h1{
    font-size: 70px;
}

.leftsection p {
    color: #808080;
    font-size: 20px;
    margin: 20px 0;
}

.bottomangle{
    width: 25px;
    position: absolute;
    right: 25px;
}

.stethoscope{
    position: absolute;
    width: 90%;
    top: -90px;
    left: 30%;
    z-index: -1;
}

.mouse{
    position: absolute;
    right: -30px;
    bottom :0;
    width: 30px;
}

.leftsection button{
    color: white;
    background-color: #78D599;
    padding: 20px 45px;
    border: none;
    border-radius: 40px;
    font-size: 35px;
    font-weight: 600;
}

/*  Right Side */
.greenbox,  .yellowbox{
    position: absolute;
    right: 0;
}
.greenbox{
    width: 35%;
    bottom: 50px;
}
.yellowbox{
    width: 30%;
    bottom: 50px;
}


.doctor{
    position: absolute;
    margin-right: 30px;
    right: 0;
    bottom: 0;
    height: 90%;
}