/* You can not modify anything in the HTML */
/* You can only modify the CSS file */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';

} 

.container {
    width: 100%;
    height: 100vh;
}

.navbar-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 20vh;
}

.list{
    display: flex;
    /* gap: 60px; */
    align-items: center;
    margin-right: 50rem;
    /* width: 60%;
    height: 100%; */
}


.list-item{
    display: flex;
    margin-left: 4rem;
    list-style: none;
    color: grey;
    cursor: pointer;
}

.list-item:hover {
    color: #000000;
}

.banner-container {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 100%;
}

.heading-text{
    font-size: 55px;
    margin-top: 20px;
    width: 900px;
}