/* You can not modify anything in the HTML */
/* You can only modify the CSS file */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
} 

.container {
    margin-left: 170px;
}

.navbar-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 20vh;
}

.navbar-container img{
    display: flex;
    height:40px;
    margin-right: 120px;
    /* gap: 80px; */
}

.list{
    display: flex;
    gap: 40px;
    align-items:center;
    margin-right: 400px;
}

.list-item{
    display: flex;
    margin-right: 60px;
    list-style: none;
    color: grey;
    cursor: pointer;
}

.list-item:hover {
    color: #000000;
}

.banner-container {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 100%;
}

.heading-text{
    font-size: 60px;
    margin-top: 15%;
    padding:20px;
    width: 50%;
    color: #3c2f60;
    font-weight: 600;
}

span{
    color: rgb(101, 96, 185)
}

.description {
    font-size: 15px;
    margin-left: 25px;
    padding-right: 32rem;
}

.nav-button{
    margin:60px 25px;
    border: none;
    padding: 20px 40px;
    border-radius: 10px;
    background-color: #5955b3;
    color: #FFFFFF;
}

.banner-container img{
    width: 850px;
}