/* You can not modify anything in the HTML */
/* You can only modify the CSS file */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
} 

.container {
    margin-left: 160px;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20vh;
}

.navbar-container div img{
    display: flex;
    height:40px;
    margin-left: 10px;
}

.list{
    display: flex;
    gap: 2px;
    margin-right: 500px;
}

.list-item{
    display: flex;
    margin-right: 70px;
    list-style: none;
    color: grey;
    cursor: pointer;
}

.list-item:hover {
    color: #000000;
}

.banner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.heading-text{
    font-size: 60px;
    margin-top: 5%;
    width: 50%;
    color: #3c2f60;
    font-weight: 600;
}

span{
    color: rgb(101, 96, 185)
}

.description {
    font-size: 15px;
    margin: 5px 0px;
    padding-right: 33rem;
    color: grey;
}

.nav-button{
    margin-right: 80px;
    margin-top: 6%;
    border: none; 
    padding: 20px 40px;
    border-radius: 10px;
    background-color: #5955b3;
    color: #FFFFFF;
    font-size: medium;
    font-weight: 500;
    
}

.banner-container img{
    width: 840px;
}