/* You can not modify anything from the HTML file */
/* You can only modify the CSS file */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-container {
    display: flex;
    margin-top: 50px;
    margin-left: 50px;
}

nav > div > img {
    height: 50px;
    margin-left: 60px;
  }

.list {
    display: flex;
    margin-left: 260px;
    margin-top: 25px;
    list-style: none;
    gap: 50px;
    font-size: 23px;
    font-weight: 450;
    font-family: "Orbitron"; 
  }

.list-item{
    display: flex;
    cursor: pointer;
}

.list-item:nth-child(1) {
    font-size: 25px;
    font-weight: bold;
    border-bottom: 3px solid black;
  }

.button-group {
    display: flex;
    margin-left: 200px;
    margin-top: 20px;
    gap: 20px;
}

.nav-button{
  padding: 5px 45px;
  border-radius: 15px;
  font-size: 25px;
  font-weight: 500;
  border: 3px solid black;
  font-family: sans-serif;
  background-color: white;
  opacity: 0.7;
  cursor: pointer;
}


/* Hero Section */

.hero-container{
  display: flex;
}

.square {
  display: block;
  position: absolute;
  margin-left: 250px;
  margin-top: 19%;
}

.hero-container > span:nth-child(2) > img {
  position: absolute;
  right: 24%;
  height: 50px;
  margin-top: 150px;
}
.hero-container > span:nth-child(3) > img {
  position: absolute;
  margin-left: 40%;
  margin-top: 36%;
  height: 40px;
}

.globe {
  position: absolute;
  right: 50%;
  margin-top: 4em;
}
.hero-container > div > img{
  position: relative;
  display: block;
  margin-top: 20%;
  margin-left: 100px;
  height: 600px;
}

.hero-container-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 800px;
  right: 21%;
  position: absolute;
  gap: 30px;
}

.hero-heading {
  font-size: 50px;
  margin-top: 5em;
  margin-left: 10%;
  font-family: "Orbitron" ;
  /* gap:30px; */
}

.hero-description{
  font-size: 14px;
  width: 600px;
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-weight: 500;
  margin-left: 10%;
  opacity: 0.6;
}

.button-email{
  padding: 4px 25px;
  font-size: 20px;
  font-weight: 600;
  margin-top: 60px;
  border-radius: 10px;
  border: 3px solid black;
  font-family: "Orbitron";
  opacity: 0.6;
  cursor: pointer;
}

.button-join{
  padding: 6px 8px;
  font-size: 20px;
  font-weight: 600;
  margin-top: 60px;
  border-radius: 10px;
  background-color: black;
  color:white;
  border:3px;
  margin-left: 15px;
  font-family: "Orbitron";
}

.contact-heading{
  margin-top: 90px;
  font-size: 22px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  padding-top: 25px;
  margin-left: 50px;
  opacity: 0.7;
}

.icons{
  display: flex;
  margin-top: 20px;
  gap:20px;
}

.icons span img{
  height: 40px;
}