
*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    max-width: 1440px;
    margin: 0px auto;
    font-family: "Manrope", sans-serif;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    background-color: #1f1f1f;
}


header {
    display: flex;
    flex-direction: column;
    background-image: url("./Assets/Photos/futuristic-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: darken;
    padding-bottom: 3em;
  }

  
nav {
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    padding: 1rem 0.5rem;
    position: relative;
}

.nav-items{
    display: flex;
    font-size: 15px;
    font-weight: bold;
    list-style: none;
    cursor: pointer;
    color:white;
    gap: 40px;
}
