
*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    max-width: 1400px;
    margin: 0px auto;
    font-family: "Manrope", sans-serif;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}


main {
    display: flex;
    flex-direction: column;
    background-image: url("./Assets/Photos/futuristic-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    padding-bottom: 8em;
}

  
nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 3em;
    padding: 1.5rem 7rem;
}

.nav-items {
    display: flex;
    flex-wrap: wrap;
    font-size: 15px;
    font-weight:700;
    list-style: none;
    cursor: pointer;
    color:white;
    gap: 3em;
    padding-right: 12em;
}


.buttons{    
    display: flex;
    gap: 2em;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
}

.btn {
    border: none;
    background-color: transparent;
    font-family: "Manrope", sans-serif;
    color: white;
    cursor: pointer;
    padding: 1em 2em;
    font-weight: 800;
}


.sign-up-btn {
    color: white;
    outline: 1px solid #e6654c;
    background-color: #e6654c;
}

.hero-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    flex-wrap: wrap;
}

.hero-left-section {
    display: flex;
    flex-direction: column;
    gap: 3em;
    padding: 2em 4em;
}
      
.hero-label {
    font-size: 2rem;
    padding-left: 1.3em;
    padding-top: 2em;
    line-height: 2em;
}

.hero-info {
    padding-left: 2.3em;
    color: gray;
    line-height: 1.5em;
}


.hero-btn-container{
    padding-left: 2.3em; 
}


.get-started-btn{
    color: white;
    background-color: #e6654c;
    outline: 1px solid #e6654c;
    margin-right: 20px;
}

.learn-more-btn{
    color: white;
    outline: 1px solid #ffffff;
}

.hero-right-section {
    display: flex;
    flex-direction: column;
    padding: 0em 14em;
    gap: 10em;
}

.play-btn {
    cursor: pointer;
    padding-top: 12em;
    padding-left: 4em;
  }

.title-info{
    display: flex;
}

.title-heading{
    position: relative;
}

.line {
    height: 2px;
    width: 3rem;
    background-color: #ffffff;
    position: absolute;
    top: 1em;
    left: -4em;
  }


.title-heading > p {
    padding: 7px 5px;
    font-size: 1.2rem;
    font-weight: bold;
}

.right-arrow {
    align-self: flex-end;
}

.multiple-games{
    display: flex;
    flex-direction: column;
    padding: 10em 4em;
    gap: 2em;
}

.game-heading {
    text-align: center;
    font-size: 1.7rem;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }

.games-container{
    display: flex;
    justify-content: space-around;
    gap: 1em;
    flex-wrap: wrap;
}

.games{
    min-height: 340px;
    width: 290px;
    display: flex;
    align-items: flex-end;
    color: #ffffff;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -12rem 0;
    cursor: pointer;
}

.game-1{
    background-image: url("./Assets/Photos/image\ 2.png");
}

.game-2{
    background-image: url("./Assets/Photos/image\ 3.png");
    background-position: -6rem 0;
}
.game-3{
    background-image: url("./Assets/Photos/image\ 4.png");
    background-position: -9rem 0;
}
.game-4{
    background-image: url("./Assets/Photos/Rectangle\ 56.png");
}

.game-stars {
    display: flex;
    align-items: center;
    padding: 0.8em 1em;
    gap: 2em;
    background-color: transparent;
    backdrop-filter: blur(20px);
    width: 100%;
  }

.games-details {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.games-details > h3 {
    font-size: 1rem;
  }

.games-details > p {
    color: #776769;;
    font-size: 0.8rem;
  }

.download-game-btn {
    background-color: #e6654c;
    padding: 7px 5px;
    color: #ffffff;
    font-size: 0.9rem;
}


.explore-more-games {
    display: flex;
    justify-content: center;
    gap: 5rem;
    padding: 5em 2em;
    flex-wrap: wrap;
 } 


.explore-left {
    width: 40%;
    display: flex;
    justify-content: center;
}


.explore-left > img {
    width: 100%;
    min-width: 40px;
    max-width: 800px;
    height: 100%;
    min-height: 150px;
    max-height: 600px;
  }


.explore-right{
    font-size: large;
    font-weight: 800;
}

.more-btns{
    display: flex;
    gap: 1em;
}

.explore-btn {
    background-color:#e6654c;
    color: #ffffff;
  }

.more-btns > .learn-more-btn{
    color: #e6654c;
    outline: 1px solid #e6654c;
}

.explore-right {
    display: flex;
    flex-direction: column;
    gap: 2em;
}


.explore-heading {
    text-align: start;
    font-size: 1.5rem;
}

.details{
    color: #A29899;
    font-size: 0.9rem;
}

/* Game Recommendation System */

.game-recommendation{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5em 5em;
    gap: 6em;
}


.top-details{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 3em;
}

.top-details > .week-heading{
    font-size: 1.4em;
}


.top-details > .btn-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
}

.top-details > .btn-container > .btn {
    padding: 1em;
}

.arrow-left {
    color: #F8E0DB;
    background-color:#F8E0DB ;
    width: 3rem;
    padding: 1.2em 0.5em;

}

.arrow-right {
    background-color: #e6654c;
    width: 3rem;
    padding: 1.2em 0.5em;
}

.arrow-right > img {
    width: 1.7rem;
}


.recommend-games-container{
    display: flex;
    justify-content: space-between;
    gap: 5em;
    flex-wrap: wrap;
}

.recommend-games-cards {
    display: flex;
    gap: 2em;
    width: 40%;
    min-width: 500px;
    cursor: pointer;
}

.recommend-games-cards > img {
    display: flex;
    width: 20%;
    min-width: 200px;
}


.card-details{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1em;
}

.headings{
    font-size: 1.2rem;
}

.headings > h3{
    padding: 4px 0;
}

.colored-text {
    color: #e6654c;
}

.card-details > .card-para {
    font-size: 0.9rem;
    color: #A29899;
}

.card-details > .btn{
    padding: 1em 2em;
}

.download-button{
    background-color:#e6654c;
    font-weight: 400;
    color: #ffffff;
}

.most-played-games{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4em 6em 4em 0;
    background-color: #1f1f1f;
    gap: 2em;
    position: relative;
    z-index: 1;
}

.year-headings{
    color: #ffffff;
    font-size: 1.8em;
}

.info {
    font-size: 1rem;
    align-self: flex-end;
    padding: 2em 6em;
    line-height: 2rem;
    color: #A29899;
  }

.game-of-the-world {
    display: flex;
    align-self: flex-end;
    position: absolute;
    right: 0em;
    top: 40%;
    z-index: -1;
  }

.mostly-played-games{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
    flex-wrap: wrap;
  }

.mostly-played-games > img {
    max-width: 400px;
    min-width: 250px;
}


.image-one {
    width: 30%;
    position: relative;
    top: -5rem;
  }

.image-two {
    width: 20%;
    align-self: flex-end;
  }

.image-three {
    width: 20%;
    align-self: flex-end;
  }