
*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    max-width: 1400px;
    margin: 0px auto;
    font-family: "Manrope", sans-serif;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}


main {
    display: flex;
    flex-direction: column;
    background-image: url("./Assets/Photos/futuristic-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    padding-bottom: 3em;
}

  
nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 3em;
    padding: 1.5rem 7rem;
}

.nav-items {
    display: flex;
    flex-wrap: wrap;
    font-size: 15px;
    font-weight:700;
    list-style: none;
    cursor: pointer;
    color:white;
    gap: 3em;
    padding-right: 12em;
}


.buttons{    
    display: flex;
    gap: 2em;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
}

.btn {
    border: none;
    background-color: transparent;
    font-family: "Manrope", sans-serif;
    color: white;
    cursor: pointer;
    padding: 1em 2em;
    font-weight: 800;
}


.sign-up-btn {
    color: white;
    outline: 1px solid #e6654c;
    background-color: #e6654c;
}

.hero-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    flex-wrap: wrap;
}

.hero-left-section {
    display: flex;
    flex-direction: column;
    gap: 3em;
    padding: 2em 4em;
}
      
.hero-label {
    font-size: 2rem;
    padding-left: 1.3em;
    padding-top: 2em;
    line-height: 2em;
}

.hero-info {
    padding-left: 2.3em;
    color: gray;
    line-height: 1.5em;
}


.hero-btn-container{
    padding-left: 2.3em; 
}


.get-started-btn{
    color: white;
    background-color: #e6654c;
    outline: 1px solid #e6654c;
    margin-right: 20px;
}

.learn-more-btn{
    color: white;
    outline: 1px solid #ffffff;
}

.hero-right-section {
    display: flex;
    flex-direction: column;
    padding: 0em 14em;
    gap: 10em;
}

.play-btn {
    cursor: pointer;
    padding-top: 10em;
    padding-left: 4em;
  }

.title-info{
    display: flex;
}

.title-heading{
    position: relative;
}

.line {
    height: 2px;
    width: 3rem;
    background-color: #ffffff;
    position: absolute;
    top: 1em;
    left: -4em;
  }


.title-heading > p {
    padding: 8px 5px;
    font-size: 1.2rem;
    font-weight: bold;
}

.right-arrow {
    align-self: flex-end;
}

.multiple-games{
    display: flex;
    flex-direction: column;
    padding: 10em 4em;
    gap: 2em;
}

.game-heading {
    text-align: center;
    font-size: 1.7rem;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }

.games-container{
    display: flex;
    justify-content: space-around;
    gap: 1em;
    flex-wrap: wrap;
}

.games{
    min-height: 340px;
    width: 290px;
    display: flex;
    align-items: flex-end;
    color: #ffffff;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -12rem 0;
    cursor: pointer;
}

.game-1{
    background-image: url("./Assets/Photos/image\ 2.png");
}

.game-2{
    background-image: url("./Assets/Photos/image\ 3.png");
    background-position: -6rem 0;
}
.game-3{
    background-image: url("./Assets/Photos/image\ 4.png");
    background-position: -9rem 0;
}
.game-4{
    background-image: url("./Assets/Photos/Rectangle\ 56.png");
}

.game-stars {
    display: flex;
    align-items: center;
    padding: 0.8em 1em;
    gap: 2em;
    background-color: transparent;
    backdrop-filter: blur(20px);
    width: 100%;
  }

.games-details {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.games-details > h3 {
    font-size: 1rem;
  }

.games-details > p {
    color: #776769;;
    font-size: 0.8rem;
  }

.download-game-btn {
    background-color: #e6654c;
    padding: 7px 5px;
    color: #ffffff;
    font-size: 0.9rem;
}


.explore-more-games {
    display: flex;
    justify-content: center;
    gap: 5rem;
    padding: 7em 1em;
    flex-wrap: wrap;
 } 


.explore-left {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
}