/* You can not modify anything in the HTML */
/* You can only modify the CSS file */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
} 

.container {
    background-image: url('./assets/bg.png');
    /* position: fixed; */
    background-size: 100% 100%; 
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}

.navbar{
    display: flex;
    background-color: #000000;
    color: white;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    font-weight: 500;
    padding: 20px 0px;
    height: 90px; 
}

.logo{
    height:35px;
    margin-left: 40px; 
}

.list{
    display: flex;
    gap: 50px;
    margin-right: 500px;
}

.list-item {
    display: flex;
    list-style: none;
    cursor: pointer;
}

.list-item:first-child::after {
    display: inline-block;
    content: "\02C5";
    margin-left: 5px;
    margin-top: 5px;
    font-size: 20px;
}


.line {
    border-right: 1px solid white;
    height: 50px;
    margin-right: 25px;
}

.button-small{
    background-color: #c05fc5;
    color: white;
    border: none;
    font-weight: 550;
    letter-spacing: 1px;
    border-radius: 5px;
    margin-right: 60px; 
    padding: 8px 25px;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #fff;
    overflow: hidden;
}

.hero-heading{
    font-family: 'Montserrat';
    color: #ffffff;
    font-size: 80px;
    text-align: center;
    width: 900px;
}

.hero p{
    color: #ffffff;
    font-size: 30px;
    font-weight: 500;
}

.button-large{
    color: #ffffff;
    background-color: #c05fc5;
    border: none;
    border-radius: 9px;
    padding: 15px 20px;
    font-size: 25px;
    font-weight: 590;
    letter-spacing: 1px;
    margin-top: 60px;
} 