/* You can not modify anything in the HTML */
/* You can only modify the CSS file */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
} 

body {
    background-image: url('./assets/bg.png');
    background-size: 100% 100%; 
    background-repeat: no-repeat;
    /* background-position: center center; */
    /* height: 100vh;
    width: 100vw; */
}

.navbar div img {
    width: 90%;
    height: 20%;
}

.navbar{
    display: flex;
    background-color: #000000;
    justify-content: space-between;
    align-items: center;
    height: 85px;
}


.list-item{
    display: inline;
    color: #ffffff;
    margin: 20px 0px 0px 0px;
    list-style: none;
    font-weight: 450;
    font-size: 15px;
    padding-right: 30px; 
    cursor: pointer;
}

.line {
    border-left: 1px solid white;
    height: 60px;
    padding-left: 500px;
}

.button-small{
    background-color: #c05fc5;
    color: white;
    border: none;
    font-weight: 550;
    letter-spacing: 1px;
    border-radius: 5px;
    margin-right: 60px;
    padding: 8px 25px;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #fff;
    overflow: hidden;
}

.hero-heading{
    font-family: 'Montserrat';
    color: #ffffff;
    font-size: 80px;
    text-align: center;
    width: 900px;
}

.hero p{
    color: #ffffff;
    font-size: 30px;
    font-weight: 500;
}

.button-large{
    color: #ffffff;
    background-color: #c05fc5;
    border: none;
    border-radius: 9px;
    padding: 15px 20px;
    font-size: 25px;
    font-weight: 590;
    letter-spacing: 1px;
    margin-top: 60px;
}