/* You can not modify anything in the HTML */
/* You can only modify the CSS file */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
} 

.container {
    background-image: url('./assets/bg.png');
    background-size: 100% 100%; 
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}

.navbar{
    display: flex;
    background-color: #000000;
    color: white;
    justify-content: space-around;
    align-items: center;
    font-weight: 500;
    height: 10vh;
}

.logo{
    height:30px;
    margin-left: 40px; 
    margin-top: 12px;
}

.line {
    border-right: 1px solid white;
    height: 50px;
    margin-right: 5px;
}

.list{
    display: flex;
    gap: 60px;
    margin-right:700px;
}

.list-item {
    display: flex;
    list-style: none;
    cursor: pointer;
    margin-top: 20px;
}

.list-item:first-child::after {
    display: inline-block;
    content: "\02C5";
    margin-top: 5px;
    margin-left: 5px;
    font-size: 25px;
}


.button-small{
    background-color: #c05fc5;
    color: white;
    border: none;
    font-weight: 550;
    letter-spacing: 1px;
    border-radius: 6px;
    margin-right: 60px; 
    padding: 10px 25px;
}

.hero {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 25%;
    color: #ffffff;
}

.hero-heading{
    font-family: 'Montserrat';
    color: #ffffff;
    font-size: 70px;
    text-align: center;
    width: 750px;
    margin-top: -21%;

}

.hero p{
    color: #ffffff;
    font-size: 26px;
    font-weight: 500;
}

.button-large{
    color: #ffffff;
    background-color: #c05fc5;
    border: none;
    border-radius: 9px;
    padding: 15px 20px;
    font-size: 25px;
    font-weight: 590;
    letter-spacing: 1px;
    margin-top: 40px;
} 