*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    background: #F9F5ED;
}
nav{
    padding: 20px 10%;
    height: 15vh;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-right: 5%;
    font-weight: 500;
    font-family: sans-serif;
}


/* CSS for HERO Section */

main{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
}

.leftmain{
    width: 40%;
}

.leftmain h1{
    margin-top: 40px;
    font-size: 61px;
    font-family: sans-serif;
    font-weight: bold;
    
}

.leftmain p{
    margin: 5% 0;
    font-size: 17px;
    font-family: sans-serif;
}


.leftmain button{
    padding: 15px 17px;
    border: none;
    background-color: #3b855b;
    border-radius: 10px;
    color: white;
    font-size: medium;
    font-weight: bold;
}

.rightmain{
    width: 60%;
    margin-top: 50px;
    margin-left: 200px;
}

img[alt="Image1"]{
    width: 280px;
    margin-right: 20px;
    margin-bottom: 18px;
}

img[alt="Image2"]{
    width: 270px;
    margin-bottom: 18px;;
}

img[alt="Image3"] {
    height: 283px;
  }