
*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;

}

body{
    width: 100vw;
    max-width: 1200px;
    margin: 0px auto;
    font-family: sans-serif;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    color: #ffffff;
}

header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #151515;
    position: relative;
  }
  

nav {
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    padding: 25px 15px;
    position: relative;
  }

.nav-list-left .nav-list{
    display: flex;
    font-size: 15px;
    list-style: none;
    cursor: pointer;
    color: white;
    gap: 50px;
}

.nav-list-right{
    display: flex;
    color: white;
    font-size: 15px;
    list-style: none;
    gap:50px;
    cursor: pointer;
}

.pink-bg {
    position: absolute;
    right: 4.5rem;
}

.all-cards{
    display: flex;
    position: relative;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #151515;
    overflow-x: hidden;
    z-index: 2;
}

.left-section{
    display: flex;
    flex-direction: column;
    margin-left: 90px;
    margin-top: 60px;
    gap: 30px;
    width: 75%;
}

.left-section > h1{
    font-family: 'Manrope' sans-serif;
    font-weight: 100;
    font-size: 4.7rem;
    }

.left-section > h1 > span { 
    font-weight: bold;
    color: #f637ec;
}
  
.left-section > p {
    /* color: #d1cfcf; */
    font-size: 1.2rem;
    width: 60%;
}

.get-start-btn {
    margin-top: 50px;
    margin-left: 30px;
    font-size: small;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    gap: 20px;
}

.get-start-btn .pink-bg {
    position: absolute;
    right: 53rem;
 }

.customer-details{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction:row ;
    margin-bottom: 180px;
    gap: 40px;
}

.happy-users{
    display: flex;   
    margin-top: 50px;
}

.happy-users > h1{
    font-size: 40px;
    font-weight: 500;
}

.happy-users > h1 > span {
    color:#f637ec
}

.active-info > h3{
    display: flex;
    flex-direction: column;
    font-weight: 100;
    margin-left: 1em;
}

.vector-icon{
    margin-top: 2rem;
}

.company-experience {
    display: flex;
    margin-top: 50px;
}

.company-experience > h1 {
    font-size: 40px;
    font-weight: 500;
}

.company-experience > h1 > span {
    color:#f637ec
}

.right-section{
    display: flex;
    position: absolute;
    justify-content: flex-end;
} 

.right-section > img {
    position: relative;
    width: 61%;
}

.back-cards {
    top: -55px;
    left: 750px;
  }
  
.front-cards {
    top: 0px;
    left: 180px;
  }

.logos {
    width: 100%;
    padding: 100px 10px;
    background-color: #292929;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
    flex-wrap: wrap;
}

.top-services {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: #151515;
    padding-bottom: 100px;
  }

.services-top-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 20px;
    justify-content: center;
    padding-bottom: 40px;
    flex-wrap: wrap;
  }

.left-service-heading > h1 {
    padding: 20px 0px 20px 50px;
    font-family: 'Manrope' sans-serif;
    font-weight: 500;
    font-size: 4rem;
    text-align: left;
    color: white;
    margin-top: 5rem;
    margin-left: 2rem;
    width: 65%;
    }

.left-service-heading > h1 > span{
    /* display: inline-block; */
    font-weight: bold;
    color: #f637ec;
    }


.right-service-info{
    position: relative;
    left: 25%;
    width: 35%;
    align-self: center;
    font-family: "Manrope", sans-serif;
    font-size: 1.3rem;
    line-height: 25px;
    color: #d1cfcf;
    word-spacing: 4px;
    margin-top: -18rem;
}

.services-bottom-content{
    display:flex;
    flex-direction: row;
    margin-top: 10rem;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 50%;
    z-index: 2;
    flex-wrap: wrap;
}

.cards{
    position: relative;
    text-align: center;
    color: white;
    height: 271px;
    width: 301px;
    font-size: medium;
    padding: 1em;
    margin: 1rem;
}

.card-1 {
    background-color: #272727;
 }

.card-2 {
    background-color: #4f4d4c;
    position: relative;
    top: -50px;
    height: 271px;
    width: 301px;
    text-align: center;
  }

.card-3 {
    background-color: #272727;
  }
  

.card-1::before {
    content: "";
    position: absolute;
    height: 271px;
    width: 301px;
    background-color: #d1cfcf;
    border-width: 2px;
    border-style: solid;
    border-image: linear-gradient(-240deg, white, #272727) 1;
    z-index: -1;
    left: -2px;
    top: -2px;
}
  
.card-2::before {
    content: "";
    position: absolute;
    height: 271px;
    width: 301px;
    background-color: #d1cfcf;
    border-width: 3px;
    border-style: solid;
    border-image: linear-gradient(-230deg, white, #272727) 1;
    z-index: -1;
    left: -3px;
    top: -3px;
 }
  
.card-3::before {
    content: "";
    position: absolute;
    height: 271px;
    width: 301px;
    background-color: #d1cfcf;
    border-width: 2px;
    border-style: solid;
    border-image: linear-gradient(-230deg, white, #272727) 1;
    z-index: -1;
    left: -2px;
    top: -2px;
}


.diff-cards-info{
    padding-top: 100px;
    width: 100%;
    background-color: #fceffb;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: "Manrope", sans-serif;
}

.diff-cards-info > h3{
    font-size: 4rem;
    font-weight: 300;
    text-align: center;
}

.diff-cards-info > h2{
    color:#f801f4;
    font-size: 4rem;
    text-align: center;
    padding: 10px;
    margin-left: 20px;
}

.diff-cards-info > p{
    padding-top: 70px;
    font-size: 1.1rem;
    color: #525252;
    width: 60%;
    letter-spacing: 2px;
}

.cards-options {
    width: 80%;
    position: relative;
    top: -30px;
  }

.customer-reviews{
    padding-top: 100px;
    padding-bottom: 140px;
    width: 100%;
    background-color: #141212f5;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: "Manrope", sans-serif;
    gap: 90px;
    position: relative;
    z-index: 2;
    }

.customer-reviews > h2 {
    width: 79%;
    font-size: 3.8rem;
    text-align: center;
    font-weight: 400;
    color: #e6e5e5;
    letter-spacing: 3px;
    }

.customer-reviews > h2 > span{
    color:#f801f4;
}

.customer-reviews > p{
    top: 10px;
    font-size: 1.1rem;
    width: 50%;
    letter-spacing: 2px;
}

.reviews-cards {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
  }


.reviews-cards > .review {
    height: 240px;
    width: 450px;
    font-size: 0.5rem;
    gap: 20px;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 30px 25px;
    cursor: pointer;
    transition: all 0.8s ease-in-out;
}

.reviews-cards > .review::before {
    content: "";
    position: absolute;
    height: 242px;
    width: 452px;
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(180deg, white, #272727) 1;
    z-index: -1;
    left: -1px;
    top: -2px;
}

.reviews-cards > .review > p {
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 1.5px;
}

.customer-location {
    font-size: 0.8rem;
    padding-top: 1px;
}
  

.review-1 {
    background-image: linear-gradient(
      to bottom right,
      rgb(63, 62, 62),
      rgb(61, 61, 61)
    );
  }
  
.review-2 {
    background: #191e22;
}

.review-3 {
    background: #191e22;
}

.review-4 {
    background: #191e22;
}


.review-icon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  
.long-icon {
        height: 18px;
        width: 80px;
        border-radius: 15px;
        border: none;
        background-color: #f547f2;
        box-shadow: 0px 0px 30px 0px #f547f2;
        cursor: pointer;
    }

.circular-icon {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #525252;
    border: none;
    cursor: pointer;
}

.banner {
    width: 100%;
    background-color: #141212f5;
    position: relative;
  }

.banner-container {
    width: 100%;
    height: 500px;
    background: url("./Assets/Photos/Rectangle 6773.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    z-index: -3;
    opacity: 0.9;
  }
  
.diamond-img {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
.diamond-img > img {
    width: 400px;
    height: 400px;
    transform: scaleX(-1);
  }

.diamond-img > :nth-child(2) {
    position: absolute;
    right: 0px;
    top: 30px;
  }
  
.banner-front {
    width: 100%;
    height: 500px;
    background: url("./Assets/Photos/Rectangle 6774.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    position: absolute;
    top: 0px;
    z-index: -1;
  }
  
.banner > h1 {
    position: absolute;
    left: 10%;
    font-size: 4rem;
    text-align: center;
    top: 20%;
    width: 75%;
    font-family: "Manrope", sans-serif;
  }
  
.banner > h1 > span {
    color: black;
  }
  
.banner > .get-started-btn {
    position: absolute;
    top: 60%;
    left: 40%;
    font-size: 1.4em;
  }

.banner > .get-started-btn > .pink-bg {
    position: absolute;
    top: 2px;
    left: -1.3rem;
}

.footer-section{
    padding-left: 120px;
    width: 100%;
    padding:100px 50px;
    background-color: #141212f5;
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 100px;
    align-items: center;
  }
  
.footer-section > ul {
    display: flex;
    list-style-type: none; 
    justify-content: center;
    align-items: center;
    gap: 50px;
    color: #d1cfcf;
  }
  