
*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    /* background-color: black; */
}

body{
    width: 100vw;
    max-width: 1200px;
    margin: 0px auto;
    font-family: sans-serif;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    background-color: #1f1f1f;
}

header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #151515;
    position: relative;
  }
  
nav {
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    padding: 1rem 0.5rem;
    position: relative;
  }

.nav-items{
    display: flex;
    font-size: 15px;
    list-style: none;
    cursor: pointer;
    color: #979696;
    gap: 50px;
}

.hero-section {
    width: 100%;
    background-color: #111010;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: #ffffff;
    padding: 3rem 8rem;
    overflow-x: hidden;
    gap: 2rem;
  }
  
.hero-left-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    gap: 2rem;

   } 
  
.hero-left-section > h1 {
    font-size: 3.5rem;
}

.hero-left-section > h1 > em {
    color: #0c8bfd;
}

.hero-left-section > p {
    color: #969292;
    font-size: 1.1rem;
    padding-right: 3rem;
}

.hero-btn-section {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 3rem;
    /* border: 1px solid yellow; */
  }
  
.hero-btn-section > .btn {
    margin: 1.4rem 0;
    padding: 1rem 1.8rem;
    font-size: 0.9rem;
    color: white;
  }

.get-started-btn {
background-color: #0c8bfd;
}

.get-started-btn:hover {
outline: 1px solid #ffffff;
background-color: #111010;
color: #ffffff;
}

.start-free-btn {
outline: 1px solid #ffffff;
background-color: #111010;
color: #ffffff;
}

.start-free-btn:hover {
outline: none;
background-color: #0c8bfd;
}

.hero-right-section {
width: 50%;
/* border: 1px solid pink; */
}

.group-img {
width: 90%;
}