
*{
    margin: 0;
    padding: 0;
    outline: 0;
}

body{
    /* max-width: 1440px; */
    background-color:  #151515;
    font-family: sans-serif;
    overflow-x: hidden;

}

nav {
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
    height: 15vh;
    align-items: center;
  }

.nav-list-left .nav-list{
    display: flex;
    /* font-size: 20px; */
    list-style: none;
    cursor: pointer;
    color: white;
    gap: 50px;
}

.nav-list-right{
    display: flex;
    /* font-size: 20px; */
    color: white;
    list-style: none;
    gap:80px;
    cursor: pointer;
}

.pink-bg {
    position: absolute;
    right: 10rem;
}

.all-cards{
    display: flex;
    position: relative;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    /* overflow-x: hidden; */
    /* z-index: 1; */
}

.left-section{
    display: flex;
    flex-direction: column;
    margin-left: 90px;
    margin-top: 60px;
    color: white;
    gap: 35px;
    width: 80%;
}

.left-section > h1{
    /* display: flex;
    flex-direction: column; */
    font-family: 'Manrope' sans-serif;
    font-weight: 100;
    font-size: 4.6rem;
    }

.left-section > h1 > span { 
    display: flex;
    flex-direction: column;
    font-weight: bold;
    color: #f637ec;
}
  
.left-section > p {
    letter-spacing: 2px;
    margin-left: 5px;
    font-size: 1.9rem;
    /* font-weight: 100; */
    width: 60%;
}

.get-start-btn {
    margin-top: 50px;
    margin-left: 30px;
    font-size: small;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    gap: 20px;
}

.get-start-btn .pink-bg {
    position: absolute;
    margin-right: 80%;
  }


.customer-details{
    display: flex;
    margin-top: 50px;
    gap: 50px;
}

.happy-users{
    display: flex;    
    margin-top: 10px;
}

.happy-users > h1{
    font-size: 40px;
    font-weight: 500;
}

.happy-users > h1 > span {
    color:#f637ec
}

.active-info > h3{
    display: flex;
    flex-direction: column;
    font-weight: 100;
    margin-left: 1em;
}

.company-experience {
    display: flex;
    margin-top: 10px;
}


.company-experience > h1 {
    font-size: 40px;
    font-weight: 500;
}

.company-experience > h1 > span {
    color:#f637ec
}

.right-section{
    display: flex;
    position: absolute;
    justify-content: flex-end;
} 

.right-section > img {
    position: relative;
    width: 60%;
}

.back-cards {
    top: -65px;
    left: 820px;
  }
  
.front-cards {
    top: 0px;
    left: 240px;
  }

