
*{
    margin: 0;
    padding: 0;
    outline: 0;
}

body{
    background-color:  #151515;
    font-family: sans-serif;
}


nav {
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
    height: 15vh;
    align-items: center;
  }

.nav-list-left .nav-list{
    display: flex;
    /* font-size: 20px; */
    list-style: none;
    cursor: pointer;
    color: white;
    gap: 50px;
}

.nav-list-right{
    display: flex;
    /* font-size: 20px; */
    color: white;
    list-style: none;
    gap:90px;
    cursor: pointer;
}

.pink-bg {
    position: absolute;
    right: 155px;
}

.all-cards{
    display: flex;
    position: relative;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    z-index: 2;
    overflow-x: hidden;
}

.left-section{
    display: flex;
    flex-direction: column;
    margin-left: 90px;
    margin-top: 40px;
    color: white;
    width: 100%;
    gap:40px;

}

.left-section > h1{
    font-family: 'Manrope' sans-serif;
    font-weight:100;
    font-size: 75px;
}

.left-section > h1 > span {
    font-weight: bold;
    color: #f637ec;
}
  
.left-section > p {
    letter-spacing: 1px;
    width: 60%;
}

.get-start-btn {
    margin-top: 50px;
    margin-left: 30px;
    font-size: small;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    gap: 20px;
    
}

.get-start-btn .pink-bg {
    position: absolute;
    margin-right: 80%;
  }


.customer-details{
    display: flex;
    margin-top: 40px;
    gap: 40px;
}

.happy-customers{
    display: flex;
}