
*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    max-width: 1200px;
    margin: 0px auto;
    /* background-color:  #151515; */
    font-family: sans-serif;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    color: #ffffff;
}

header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #151515;
    position: relative;
  }
  

nav {
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    padding: 25px 15px;
    position: relative;
  }

.nav-list-left .nav-list{
    display: flex;
    font-size: 15px;
    list-style: none;
    cursor: pointer;
    color: white;
    gap: 50px;
}

.nav-list-right{
    display: flex;
    color: white;
    font-size: 15px;
    list-style: none;
    gap:50px;
    cursor: pointer;
}

.pink-bg {
    position: absolute;
    right: 4.5rem;
}

.all-cards{
    display: flex;
    position: relative;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #151515;
    overflow-x: hidden;
    z-index: 2;
}

.left-section{
    display: flex;
    flex-direction: column;
    margin-left: 90px;
    margin-top: 60px;
    gap: 30px;
    width: 75%;
}

.left-section > h1{
    font-family: 'Manrope' sans-serif;
    font-weight: 100;
    font-size: 4.7rem;
    }

.left-section > h1 > span { 
    font-weight: bold;
    color: #f637ec;
}
  
.left-section > p {
    /* color: #d1cfcf; */
    font-size: 1.2rem;
    width: 60%;
}

.get-start-btn {
    margin-top: 50px;
    margin-left: 30px;
    font-size: small;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    gap: 20px;
}

.get-start-btn .pink-bg {
    position: absolute;
    right: 53rem;
 }

.customer-details{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction:row ;
    margin-bottom: 180px;
    gap: 40px;
}

.happy-users{
    display: flex;   
    margin-top: 50px;
}

.happy-users > h1{
    font-size: 40px;
    font-weight: 500;
}

.happy-users > h1 > span {
    color:#f637ec
}

.active-info > h3{
    display: flex;
    flex-direction: column;
    font-weight: 100;
    margin-left: 1em;
}

.vector-icon{
    margin-top: 2rem;
}

.company-experience {
    display: flex;
    margin-top: 50px;
}

.company-experience > h1 {
    font-size: 40px;
    font-weight: 500;
}

.company-experience > h1 > span {
    color:#f637ec
}

.right-section{
    display: flex;
    position: absolute;
    justify-content: flex-end;
} 

.right-section > img {
    position: relative;
    width: 61%;
}

.back-cards {
    top: -55px;
    left: 750px;
  }
  
.front-cards {
    top: 0px;
    left: 180px;
  }

.logos {
    width: 100%;
    padding: 100px 10px;
    background-color: #292929;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
    flex-wrap: wrap;
}

.top-services {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: #151515;
    padding-bottom: 100px;
  }

.services-top-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 100px;
    justify-content: center;
    padding-bottom: 40px;
    flex-wrap: wrap;
  }

.left-service-heading > h1 {
    padding: 20px 0px 20px 50px;
    font-family: 'Manrope' sans-serif;
    font-weight: 500;
    font-size: 3rem;
    color: white;
    margin-top: 10rem;
    margin-left: 90px;
    width: 45%;
    }

.left-service-heading > h1 > span{
    /* display: inline-block; */
    font-weight: bold;
    color: #f637ec;
    }


.right-service-info{
    position: relative;
    /* right: 10px; */
    width: 35%;
    align-self: center;
    font-family: "Manrope", sans-serif;
    font-size: 1.2rem;
    line-height: 30px;
    color: #d1cfcf;
    /* border:1px solid white; */
    word-spacing: 4px;
}

.services-bottom-content{
    display:flex;
    flex-direction: row;
    margin-top: 10rem;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 50%;
    z-index: 2;
    flex-wrap: wrap;
}

.cards{
    position: relative;
    text-align: center;
    color: white;
    height: 250px;
    width: 300px;
    font-size: small;
    padding: 1em;
}

.card-1 {
    background-color: #272727;
    margin: 3rem;
    /* padding: 10px; */
 }


.card-2 {
    background-color: #4f4d4c;
  }

.card-3 {
    background-color: #272727;
  }
  

.card-1::before {
    content: "";
    position: absolute;
    height: 271px;
    width: 301px;
    background-color: #d1cfcf;
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(-230deg, white, #272727) 1;
    z-index: -1;
    left: -2px;
    top: -4px;
}
  
.card-2::before {
    content: "";
    position: absolute;
    height: 271px;
    width: 301px;
    background-color: #d1cfcf;
    border-width: 3px;
    border-style: solid;
    border-image: linear-gradient(-230deg, white, #272727) 1;
    z-index: -1;
    left: -3px;
    top: -5px;
 }
  
.card-3::before {
    content: "";
    position: absolute;
    height: 271px;
    width: 301px;
    background-color: #d1cfcf;
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(-230deg, white, #272727) 1;
    z-index: -1;
    left: -2px;
    top: -4px;
}